
html
{
    -webkit-font-smoothing:antialiased;
}

/*---------------------------------------------------Header---------------------------------------------------------------------*/
.header {

		top :0px;
		
        position:fixed;

        left:0px;

        width:100%;       
        
        background:#FFFFFF; 

}
/*---------------------------------------------------body---------------------------------------------------------------------*/
.mainpage{    

	height: 1200px;
	padding-top:100px;

}



/*---------------------------------------------------menu---------------------------------------------------------------------*/



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top:20px;
    margin-right:10px;
    border-radius: 15px;
    font-weight: bold;

}

.dropdown {

    position: relative;
    display: inline-block;
    float: right;
    padding:5px;
	font-weight: bold;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #59D55D;
    min-width: 160px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-weight: bold;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {background-color: #f1f1f1; color: #0B2161;border-radius: 15px;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

header select {

  margin: 50px;
  border: 1px solid #111;
  background: transparent;
  width: 450px;
  padding: 5px 35px 5px 5px;
  font-size: 14px;
  border: none;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(76,175,79,1.00);
}
/*target Internet Explorer 9 and Internet Explorer 10:*/

@media screen and (min-width: 0\0) {
  header select {
    background: none;
    padding: 5px;
  }
}
header select::-ms-expand { /* for IE 11 */
    display: none;
}
